{% extends "base.html" %}

{% block head %}

<title>Gestionale Guidoncini Verdi - Admin</title>

{% endblock %}

{% block titolo %}

<h1 class="text-center my-2"><strong>Admin Panel</strong></h1>

{% endblock %}

{% block corpo %}

<a type="button" class="btn btn-sm btn-warning mx-4" href="{{ url_for("crea_account") }}">Crea Account</a>

<div class="mx-2 mb-4">
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Mail</th>
        <th scope="col">Telegram ID</th>
        <th scope="col">Regione</th>
        <th scope="col">Zona</th>
        <th scope="col">Livello</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for i in utenti %}
      <tr>
        <th scope="row">{{ i.id }}</th>
        <td>{{ i.username }}</td>
        <td>{{ i.mail }}</td>
        <td>{{ i.telegram_id }}</td>
        {% if i.regione %}
        {% for y in regioni %}
        {% if y.id == i.regione %}
        <td>{{ y.regione.upper() }}</td>
        {% endif %}
        {% endfor %}
        {% else %}
        <td>--</td>
        {% endif %}
        {% if i.zona %}
        {% for y in zone %}
        {% if y.id == i.zona %}
        <td>{{ y.zona.upper() }}</td>
        {% endif %}
        {% endfor %}
        {% else %}
        <td>--</td>
        {% endif %}
        <td>{{ i.livello.upper() }}</td>
        <td>
        <a type="button" class="btn btn-sm btn-warning mx-4" href="{{ url_for("modifica_account", id_utente=i["id"]) }}">Modifica</a>
        <a type="button" class="btn btn-sm btn-danger mx-4" href="{{ url_for("elimina_account", id_utente=i["id"]) }}">Elimina</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

{% endblock %}
