{% extends "base.html" %}

{% block head %}

<title>GV Piemonte - Mail</title>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

{% endblock %}

{% block titolo %}

<h1 class="text-center my-2"><strong>Crea Mail Massiva</strong></h1>

{% endblock %}

{% block corpo %}
<div class="mx-5">

<form method="post">
    <div class="mb-3">
        <label class="form-label">Destinatari</label>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="squadriglie" name="squadriglie" id="squadriglie">
        <label class="form-check-label" for="squadriglie">
            Squadriglie Iscritte (non abilitate)
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="squadriglie_abilitate" name="squadriglie_abilitate" id="squadriglie_abilitate">
        <label class="form-check-label" for="squadriglie_abilitate">
            Squadriglie Abilitate
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="capi_reparto" name="capi_reparto" id="capi_reparto">
        <label class="form-check-label" for="capi_reparto">
            Capi Reparto
        </label>
        </div>
    </div>
    <div class="input-group mb-3">
    <span class="input-group-text">Oggetto</span>
    <input type="text" class="form-control" placeholder="Scrivi qui l'oggetto della mail..." aria-label="titolo" id="oggetto" name="oggetto">
    </div>
        <div id="editor">
            <p></p>
        </div>
    <button type="submit" class="btn btn-primary my-3">Salva</button>
</form>

</div>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script>
    const options = {
    modules: {
        toolbar: true
    },
    placeholder: 'Scrivi qui il testo della mail...',
    theme: 'snow'
    };
  const quill = new Quill('#editor', options);
</script>

{% endblock %}
