{% extends "base.html" %}

{% block head %}

<title>GV Piemonte - Iscrizioni</title>

{% endblock %}

{% block titolo %}

<h1 class="text-center my-2"><strong>Abilita iscrizione {{ iscrizione.id }}</strong></h1>

{% endblock %}

{% block corpo %}
<div class="mx-4">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for("iscrizioni") }}">Iscrizioni</a></li>
      <li class="breadcrumb-item active" aria-current="page">Abilita iscrizione {{ iscrizione.id }}</li>
    </ol>
  </nav>

  {% if not valid_username %}
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Username non valido!</h4>
    <p>L'username è già usato da un'altra squadriglia, modificalo per poter abilitare.</p>
  </div>
  {% endif %}

  <form method="post" id="form_abilita">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" value="{{ iscrizione.nome.capitalize() }}" disabled>
    </div>
    {% if current_user.livello != "iabz" %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ username }}">
    </div>
    {% elif valid_username %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ username }}" disabled>
    </div>
    {% else %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ username }}">
    </div>
    {% endif %}

    <p>Vuoi davvero abilitare la squadriglia {{ iscrizione.nome }} del Gruppo {{ iscrizione.gruppo }} - {{ iscrizione.zona }}?</p>

    <button type="submit" class="btn btn-warning" onclick="inviaForm()">ABILITA!</button>
  </form>

  <script type="text/javascript">
  function inviaForm() {
          document.getElementById("form_abilita").submit();
          document.getElementById("form_abilita").querySelector("button").disabled = true;
      }
  </script>


</div>

{% endblock %}
