{% extends "base.html" %}

{% block head %}

<title>GV Piemonte - Iscrizioni</title>

{% endblock %}

{% block titolo %}

<h1 class="text-center my-2"><strong>Dettaglio iscrizione {{ iscrizione.id }}</strong></h1>

{% endblock %}

{% block corpo %}
<div class="mx-4">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for("iscrizioni") }}">Iscrizioni</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dettaglio iscrizione {{ iscrizione.id }}</li>
    </ol>
  </nav>

  {% if iscrizione.stato == "da_abilitare" %}
  <div class="btn-group" role="group">
  <a type="button" class="btn btn-outline-primary" href="{{ url_for("abilita", id_iscrizione=iscrizione.id) }}">Abilita!</a>
  {% if current_user.livello == "admin" or current_user.livello == "iabr" %}
  <a type="button" class="btn btn-outline-primary" href="{{ url_for("edit_iscrizione", id_iscrizione=iscrizione.id) }}">Modifica</a>
  <a type="button" class="btn btn-outline-danger" href="{{ url_for("elimina", id_iscrizione=iscrizione.id) }}">Scarta</a>
  {% endif %}
  </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Nome SQ</th>
          <td>{{ iscrizione.nome }}</td>
        </tr>
        <tr>
          <th scope="row">Sesso</th>
          {% if iscrizione.sesso == "m" %}
          <td><span class="badge bg-info">Maschile</span></td>
          {% elif iscrizione.sesso == "f" %}
          <td><span class="badge bg-info">Femminile</span></td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">Gruppo</th>
          <td>{{ iscrizione.gruppo }}</td>
        </tr>
        <tr>
          <th scope="row">Zona</th>
          <td>{{ iscrizione.zona }}</td>
        </tr>
        <tr>
          <th scope="row">Ambito</th>
          <td>{{ iscrizione.specialita }} - {{ iscrizione.tipo.capitalize() }}</td>
        </tr>
        <tr>
          <th scope="row">Stato</th>
          {% if iscrizione.stato == "abilitato" %}
          <td><span class="badge bg-success">Abilitato</span></td>
          {% elif iscrizione.stato == "da_abilitare" %}
          <td><span class="badge bg-warning">Da Abilitare</span></td>
          {% elif iscrizione.stato == "eliminato" %}
          <td><span class="badge bg-danger">Eliminato</span></td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">Link</th>
          {% if iscrizione.stato == "abilitato" %}
          <td><a href="{{ link_sq }}">{{ link_sq }}</a></td>
          {% endif %}
        </tr>
        {% if iscrizione.regione == "puglia" %}
          <tr>
            <th scope="row">Relazione</th>
            {% if relazione.stato %}
            <td><span class="badge bg-success">Ricevuta!</span> <a type="button" class="btn btn-sm bg-danger btn-disabled" href="">Elimina Relazione</a></td>
            {% else %}
            <td><span class="badge bg-warning">...manca...</span></td>
            {% endif %}
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nome e Cognome</th>
          <th scope="col">Indirizzo mail</th>
          <th scope="col">Numero di cellulare</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Capo squadriglia</th>
          <td>{{ iscrizione.nome_capo_sq }}</td>
          <td>{{ iscrizione.mail }}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Capo Reparto 1</th>
          <td>{{ iscrizione.nome_capo1 }}</td>
          <td>{{ iscrizione.mail_capo1 }}</td>
          <td>{{ iscrizione.cell_capo1 }}</td>
        </tr>
        <tr>
          <th scope="row">Capo Reparto 2</th>
          <td>{{ iscrizione.nome_capo2 }}</td>
          <td>{{ iscrizione.mail_capo2 }}</td>
          <td>{{ iscrizione.cell_capo2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
