{% extends "base.html" %}

{% block head %}

<title>GV Piemonte - Iscrizioni</title>

{% endblock %}

{% block titolo %}

<h1 class="text-center my-2"><strong>Iscrizioni</strong></h1>

{% endblock %}

{% block corpo %}

<div class="mx-5 mb-2">
<h5>Carica manualmente il file generato dal Form</h5>
  <form action="{{ url_for("upload_iscrizioni") }}" method="post" enctype="multipart/form-data">
      <div class="mb-3">
          <input type="file" class="form-control" id="file" name="file">
      </div>
      <button class="btn btn-success mb-3" type="submit">Aggiorna</button>
  </form>
</div>

<hr>

<div class="mx-5">
<h5>Nuove Iscrizioni</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Zona</th>
      <th scope="col">Gruppo - Reparto</th>
      <th scope="col">Squadriglia</th>
      <th scope="col">Ambito</th>
      <th scope="col">Conquista/Conferma</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>dei Vini</td>
      <td>Acqui 1 - Arkansas</td>
      <td>Koala</td>
      <td>Giornalismo</td>
      <td>Conquista</td>
      <td><span class="badge bg-success">Abilitato</span></td>
      <td>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-primary">Aggiungi Pagina</button>
        <button type="button" class="btn btn-primary">Vedi dettagli</button>
      </div>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>dei Vini</td>
      <td>Acqui 1 - Arkansas</td>
      <td>Pantere</td>
      <td>Campismo</td>
      <td>Conferma</td>
      <td></td>
      <td>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-primary">Abilita</button>
        <button type="button" class="btn btn-primary">Vedi dettagli</button>
        <button type="button" class="btn btn-danger">Elimina</button>
      </div>
      </td>
    </tr>
    {% for i in iscrizioni %}
    <tr>
      <th scope="row"></th>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
