<!DOCTYPE html>
<html lang="it-IT">
  <body>
    <header>
      <div class="p-3 mb-3">
        <h1><strong>Guidoncini Verdi 2024</strong></h1>
      </div>
    </header>
    <main>
      <div class="mb-3 mx-4">
        <h4><strong>{{ titolo }}</strong></h4>
        <p>{{ testo|safe }}</p>
        <hr>
        <p class="mb-0">In caso di dubbi scriveteci a <a href="mailto:guidonciniverdipiemonte@gmail.com" target="_blank">guidonciniverdipiemonte@gmail.com</a><br>Questa mail è stata inviata automaticamente.</p>
      </div>

    </main>
    <footer></footer>

  </body>
</html>
